src/Apps/CompanyDesktop/alsadara-ftth/n8n-workflows/n8n-whatsapp-receiver-BACKUP-20260316.json
{"updatedAt":"2025-12-26T12:14:28.888Z","createdAt":"2025-12-21T03:27:41.973Z","id":"CHP3vYCCkch3yAFT","name":"WhatsApp Receiver - FIXED","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"=GET,POST","path":"whatsapp-receiver","responseMode":"responseNode","options":{}},"id":"62e23a11-5159-4d39-9474-268b994de68d","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[1920,1632],"webhookId":"whatsapp-receiver"},{"parameters":{"jsCode":"const inputData = $input.item.json;\nconst body = inputData.body || inputData;\nconst query = inputData.query || {};\n\nconst method = String(inputData.method || inputData.httpMethod || '').toUpperCase();\n\n// Webhook Verification (GET request from Meta)\nconst isVerificationRequest = \n  method === 'GET' &&\n  query['hub.mode'] === 'subscribe' &&\n  typeof query['hub.verify_token'] === 'string' &&\n  query['hub.verify_token'].length > 0;\n\nif (isVerificationRequest) {\n  return [{\n    json: {\n      isVerification: true,\n      isMessage: false,\n      challenge: query['hub.challenge'] || '',\n      verifyToken: query['hub.verify_token'] || ''\n    }\n  }];\n}\n\n// Process WhatsApp Message (POST request)\nif (body.object === 'whatsapp_business_account' && body.entry) {\n  const results = [];\n  \n  for (const entry of body.entry) {\n    if (!entry.changes) continue;\n    \n    for (const change of entry.changes) {\n      const value = change.value;\n      \n      if (value.messages && value.messages.length > 0) {\n        for (const message of value.messages) {\n          const contact = value.contacts?.find(c => c.wa_id === message.from) || {};\n          \n          let messageText = '';\n          switch (message.type) {\n            case 'text':\n              messageText = message.text?.body || '';\n              break;\n            case 'button':\n              // الرد على زر من قالب الرسالة\n              messageText = message.button?.text || 'ضغط على زر';\n              break;\n            case 'interactive':\n              // الرد على رسالة تفاعلية (أزرار أو قوائم)\n              if (message.interactive?.type === 'button_reply') {\n                messageText = message.interactive.button_reply?.title || 'رد على زر';\n              } else if (message.interactive?.type === 'list_reply') {\n                messageText = message.interactive.list_reply?.title || 'اختيار من القائمة';\n              } else {\n                messageText = message.interactive?.body?.text || '[رسالة تفاعلية]';\n              }\n              break;\n            case 'image':\n              messageText = message.image?.caption || '[صورة]';\n              break;\n            case 'video':\n              messageText = message.video?.caption || '[فيديو]';\n              break;\n            case 'audio':\n              messageText = '[رسالة صوتية]';\n              break;\n            case 'document':\n              messageText = message.document?.filename || '[ملف]';\n              break;\n            case 'sticker':\n              messageText = '[ملصق]';\n              break;\n            case 'location':\n              messageText = '[موقع]';\n              break;\n            case 'contacts':\n              messageText = '[جهة اتصال]';\n              break;\n            case 'reaction':\n              messageText = message.reaction?.emoji || '[تفاعل]';\n              break;\n            default:\n              messageText = '[' + message.type + ']';\n          }\n          \n          const phoneNumber = message.from;\n          const msgId = message.id.replace(/\\//g, '_');\n          \n          results.push({\n            json: {\n              isVerification: false,\n              isMessage: true,\n              messageId: msgId,\n              phoneNumber: phoneNumber,\n              contactName: contact.profile?.name || phoneNumber,\n              messageType: message.type,\n              text: messageText,\n              timestamp: parseInt(message.timestamp),\n              timestampMs: Date.now()\n            }\n          });\n        }\n      }\n    }\n  }\n  \n  if (results.length > 0) return results;\n}\n\nreturn [{ json: { isVerification: false, isMessage: false, error: 'No valid data' } }];"},"id":"62330241-8e7a-41b0-a4b4-761bbc067bbf","name":"ParseData","type":"n8n-nodes-base.code","typeVersion":2,"position":[2144,1632]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"isVerification","leftValue":"={{ $json.isVerification }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"91dfc1b3-0669-4f66-98b0-3e8f082b3883","name":"IsVerification","type":"n8n-nodes-base.if","typeVersion":2,"position":[2368,1632]},{"parameters":{"jsCode":"const expectedToken = '4bZXa4hJ6whfqWf9JsyNjQpHzaBZOxZA1A81SBGH4ce90e2e';\nconst data = $input.item.json;\n\nif (data.verifyToken === expectedToken) {\n  return [{ json: { challenge: data.challenge, verified: true } }];\n} else {\n  return [{ json: { error: 'Invalid token', verified: false } }];\n}"},"id":"bee6b5ea-192b-40b3-9631-e8239a1dddf6","name":"VerifyToken","type":"n8n-nodes-base.code","typeVersion":2,"position":[2576,1504]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.challenge }}","options":{"responseCode":200}},"id":"739b0950-4590-4687-a5cd-db3d208c3d78","name":"RespondChallenge","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2800,1504]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"isMessage","leftValue":"={{ $json.isMessage }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"4f9eb01f-8424-4df9-9409-c7c3dff690bf","name":"IsMessage","type":"n8n-nodes-base.if","typeVersion":2,"position":[2576,1744]},{"parameters":{"method":"POST","url":"=https://firestore.googleapis.com/v1/projects/web-app-sadara/databases/(default)/documents/whatsapp_conversations/{{ $json.phoneNumber }}/messages?documentId={{ $json.messageId }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fields\": {\n    \"messageId\": { \"stringValue\": \"{{ $json.messageId }}\" },\n    \"phoneNumber\": { \"stringValue\": \"{{ $json.phoneNumber }}\" },\n    \"contactName\": { \"stringValue\": \"{{ $json.contactName }}\" },\n    \"text\": { \"stringValue\": \"{{ $json.text }}\" },\n    \"timestamp\": { \"integerValue\": \"{{ $json.timestamp }}\" },\n    \"direction\": { \"stringValue\": \"incoming\" },\n    \"status\": { \"stringValue\": \"received\" },\n    \"messageType\": { \"stringValue\": \"{{ $json.messageType }}\" }\n  }\n}","options":{"response":{"response":{"neverError":true}}}},"id":"a08f5cce-66f0-4def-98a6-cdf7c4413f4d","name":"SaveMessage","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,1696],"credentials":{"googleApi":{"id":"119RrljqOvjVZbDE","name":"Google Service Account account"}}},{"parameters":{"method":"PATCH","url":"=https://firestore.googleapis.com/v1/projects/web-app-sadara/databases/(default)/documents/whatsapp_conversations/{{ $('ParseData').item.json.phoneNumber }}?updateMask.fieldPaths=phoneNumber&updateMask.fieldPaths=contactName&updateMask.fieldPaths=lastMessage&updateMask.fieldPaths=lastMessageTime&updateMask.fieldPaths=unreadCount&updateMask.fieldPaths=updatedAt","authentication":"predefinedCredentialType","nodeCredentialType":"googleApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fields\": {\n    \"phoneNumber\": { \"stringValue\": \"{{ $('ParseData').item.json.phoneNumber }}\" },\n    \"contactName\": { \"stringValue\": \"{{ $('ParseData').item.json.contactName }}\" },\n    \"lastMessage\": { \"stringValue\": \"{{ $('ParseData').item.json.text }}\" },\n    \"lastMessageTime\": { \"integerValue\": \"{{ $('ParseData').item.json.timestamp }}\" },\n    \"unreadCount\": { \"integerValue\": \"1\" },\n    \"updatedAt\": { \"integerValue\": \"{{ $('ParseData').item.json.timestampMs }}\" }\n  }\n}","options":{"response":{"response":{"neverError":true}}}},"id":"d3f7955f-0de8-4e79-b379-ef3ec8536f18","name":"UpdateConversation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,1856],"credentials":{"googleApi":{"id":"119RrljqOvjVZbDE","name":"Google Service Account account"}}},{"parameters":{"respondWith":"json","responseBody":"={ \"status\": \"success\" }","options":{"responseCode":200}},"id":"9eb98670-6be1-4677-862e-4c1a9bcb6386","name":"RespondSuccess","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3024,1776]},{"parameters":{"respondWith":"json","responseBody":"={ \"status\": \"ignored\" }","options":{"responseCode":200}},"id":"70b2048d-218f-4a58-9d0a-f2d1d3872bb0","name":"RespondIgnored","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2800,2016]}],"connections":{"Webhook":{"main":[[{"node":"ParseData","type":"main","index":0}]]},"ParseData":{"main":[[{"node":"IsVerification","type":"main","index":0}]]},"IsVerification":{"main":[[{"node":"VerifyToken","type":"main","index":0}],[{"node":"IsMessage","type":"main","index":0}]]},"VerifyToken":{"main":[[{"node":"RespondChallenge","type":"main","index":0}]]},"IsMessage":{"main":[[{"node":"SaveMessage","type":"main","index":0}],[{"node":"RespondIgnored","type":"main","index":0}]]},"SaveMessage":{"main":[[{"node":"UpdateConversation","type":"main","index":0}]]},"UpdateConversation":{"main":[[{"node":"RespondSuccess","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"184dbd6a-fb02-463a-8356-3bdc5d3d9c41","activeVersionId":"184dbd6a-fb02-463a-8356-3bdc5d3d9c41","versionCounter":12,"triggerCount":1,"shared":[{"updatedAt":"2025-12-21T03:27:41.976Z","createdAt":"2025-12-21T03:27:41.976Z","role":"workflow:owner","workflowId":"CHP3vYCCkch3yAFT","projectId":"bFWGLTnzKJWMBwmn","project":{"updatedAt":"2025-09-04T02:04:50.738Z","createdAt":"2025-09-04T02:02:11.729Z","id":"bFWGLTnzKJWMBwmn","name":"HAYDER MIDHAB <haidarmithab@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-09-04T02:02:11.729Z","createdAt":"2025-09-04T02:02:11.729Z","userId":"9d1fe5d7-8973-44fd-b436-25da1527f396","projectId":"bFWGLTnzKJWMBwmn","user":{"updatedAt":"2026-03-16T16:21:56.000Z","createdAt":"2025-09-04T02:02:11.119Z","id":"9d1fe5d7-8973-44fd-b436-25da1527f396","email":"haidarmithab@gmail.com","firstName":"HAYDER","lastName":"MIDHAB","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-04T02:05:42.651Z","personalization_survey_n8n_version":"1.109.2","automationGoalDevops":["other"],"companySize":"1000+","companyType":"saas","role":"it","reportedSource":"other"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"JyYOoeTJgSLOiMOa","userActivatedAt":1757574051371,"npsSurvey":{"responded":true,"lastShownAt":1760239669159},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-16","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-26T12:14:30.000Z","createdAt":"2025-12-26T12:14:28.889Z","versionId":"184dbd6a-fb02-463a-8356-3bdc5d3d9c41","workflowId":"CHP3vYCCkch3yAFT","nodes":[{"parameters":{"httpMethod":"=GET,POST","path":"whatsapp-receiver","responseMode":"responseNode","options":{}},"id":"62e23a11-5159-4d39-9474-268b994de68d","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[1920,1632],"webhookId":"whatsapp-receiver"},{"parameters":{"jsCode":"const inputData = $input.item.json;\nconst body = inputData.body || inputData;\nconst query = inputData.query || {};\n\nconst method = String(inputData.method || inputData.httpMethod || '').toUpperCase();\n\n// Webhook Verification (GET request from Meta)\nconst isVerificationRequest = \n  method === 'GET' &&\n  query['hub.mode'] === 'subscribe' &&\n  typeof query['hub.verify_token'] === 'string' &&\n  query['hub.verify_token'].length > 0;\n\nif (isVerificationRequest) {\n  return [{\n    json: {\n      isVerification: true,\n      isMessage: false,\n      challenge: query['hub.challenge'] || '',\n      verifyToken: query['hub.verify_token'] || ''\n    }\n  }];\n}\n\n// Process WhatsApp Message (POST request)\nif (body.object === 'whatsapp_business_account' && body.entry) {\n  const results = [];\n  \n  for (const entry of body.entry) {\n    if (!entry.changes) continue;\n    \n    for (const change of entry.changes) {\n      const value = change.value;\n      \n      if (value.messages && value.messages.length > 0) {\n        for (const message of value.messages) {\n          const contact = value.contacts?.find(c => c.wa_id === message.from) || {};\n          \n          let messageText = '';\n          switch (message.type) {\n            case 'text':\n              messageText = message.text?.body || '';\n              break;\n            case 'button':\n              // الرد على زر من قالب الرسالة\n              messageText = message.button?.text || 'ضغط على زر';\n              break;\n            case 'interactive':\n              // الرد على رسالة تفاعلية (أزرار أو قوائم)\n              if (message.interactive?.type === 'button_reply') {\n                messageText = message.interactive.button_reply?.title || 'رد على زر';\n              } else if (message.interactive?.type === 'list_reply') {\n                messageText = message.interactive.list_reply?.title || 'اختيار من القائمة';\n              } else {\n                messageText = message.interactive?.body?.text || '[رسالة تفاعلية]';\n              }\n              break;\n            case 'image':\n              messageText = message.image?.caption || '[صورة]';\n              break;\n            case 'video':\n              messageText = message.video?.caption || '[فيديو]';\n              break;\n            case 'audio':\n              messageText = '[رسالة صوتية]';\n              break;\n            case 'document':\n              messageText = message.document?.filename || '[ملف]';\n              break;\n            case 'sticker':\n              messageText = '[ملصق]';\n              break;\n            case 'location':\n              messageText = '[موقع]';\n              break;\n            case 'contacts':\n              messageText = '[جهة اتصال]';\n              break;\n            case 'reaction':\n              messageText = message.reaction?.emoji || '[تفاعل]';\n              break;\n            default:\n              messageText = '[' + message.type + ']';\n          }\n          \n          const phoneNumber = message.from;\n          const msgId = message.id.replace(/\\//g, '_');\n          \n          results.push({\n            json: {\n              isVerification: false,\n              isMessage: true,\n              messageId: msgId,\n              phoneNumber: phoneNumber,\n              contactName: contact.profile?.name || phoneNumber,\n              messageType: message.type,\n              text: messageText,\n              timestamp: parseInt(message.timestamp),\n              timestampMs: Date.now()\n            }\n          });\n        }\n      }\n    }\n  }\n  \n  if (results.length > 0) return results;\n}\n\nreturn [{ json: { isVerification: false, isMessage: false, error: 'No valid data' } }];"},"id":"62330241-8e7a-41b0-a4b4-761bbc067bbf","name":"ParseData","type":"n8n-nodes-base.code","typeVersion":2,"position":[2144,1632]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"isVerification","leftValue":"={{ $json.isVerification }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"91dfc1b3-0669-4f66-98b0-3e8f082b3883","name":"IsVerification","type":"n8n-nodes-base.if","typeVersion":2,"position":[2368,1632]},{"parameters":{"jsCode":"const expectedToken = '4bZXa4hJ6whfqWf9JsyNjQpHzaBZOxZA1A81SBGH4ce90e2e';\nconst data = $input.item.json;\n\nif (data.verifyToken === expectedToken) {\n  return [{ json: { challenge: data.challenge, verified: true } }];\n} else {\n  return [{ json: { error: 'Invalid token', verified: false } }];\n}"},"id":"bee6b5ea-192b-40b3-9631-e8239a1dddf6","name":"VerifyToken","type":"n8n-nodes-base.code","typeVersion":2,"position":[2576,1504]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.challenge }}","options":{"responseCode":200}},"id":"739b0950-4590-4687-a5cd-db3d208c3d78","name":"RespondChallenge","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2800,1504]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"isMessage","leftValue":"={{ $json.isMessage }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"4f9eb01f-8424-4df9-9409-c7c3dff690bf","name":"IsMessage","type":"n8n-nodes-base.if","typeVersion":2,"position":[2576,1744]},{"parameters":{"method":"POST","url":"=https://firestore.googleapis.com/v1/projects/web-app-sadara/databases/(default)/documents/whatsapp_conversations/{{ $json.phoneNumber }}/messages?documentId={{ $json.messageId }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fields\": {\n    \"messageId\": { \"stringValue\": \"{{ $json.messageId }}\" },\n    \"phoneNumber\": { \"stringValue\": \"{{ $json.phoneNumber }}\" },\n    \"contactName\": { \"stringValue\": \"{{ $json.contactName }}\" },\n    \"text\": { \"stringValue\": \"{{ $json.text }}\" },\n    \"timestamp\": { \"integerValue\": \"{{ $json.timestamp }}\" },\n    \"direction\": { \"stringValue\": \"incoming\" },\n    \"status\": { \"stringValue\": \"received\" },\n    \"messageType\": { \"stringValue\": \"{{ $json.messageType }}\" }\n  }\n}","options":{"response":{"response":{"neverError":true}}}},"id":"a08f5cce-66f0-4def-98a6-cdf7c4413f4d","name":"SaveMessage","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,1696],"credentials":{"googleApi":{"id":"119RrljqOvjVZbDE","name":"Google Service Account account"}}},{"parameters":{"method":"PATCH","url":"=https://firestore.googleapis.com/v1/projects/web-app-sadara/databases/(default)/documents/whatsapp_conversations/{{ $('ParseData').item.json.phoneNumber }}?updateMask.fieldPaths=phoneNumber&updateMask.fieldPaths=contactName&updateMask.fieldPaths=lastMessage&updateMask.fieldPaths=lastMessageTime&updateMask.fieldPaths=unreadCount&updateMask.fieldPaths=updatedAt","authentication":"predefinedCredentialType","nodeCredentialType":"googleApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fields\": {\n    \"phoneNumber\": { \"stringValue\": \"{{ $('ParseData').item.json.phoneNumber }}\" },\n    \"contactName\": { \"stringValue\": \"{{ $('ParseData').item.json.contactName }}\" },\n    \"lastMessage\": { \"stringValue\": \"{{ $('ParseData').item.json.text }}\" },\n    \"lastMessageTime\": { \"integerValue\": \"{{ $('ParseData').item.json.timestamp }}\" },\n    \"unreadCount\": { \"integerValue\": \"1\" },\n    \"updatedAt\": { \"integerValue\": \"{{ $('ParseData').item.json.timestampMs }}\" }\n  }\n}","options":{"response":{"response":{"neverError":true}}}},"id":"d3f7955f-0de8-4e79-b379-ef3ec8536f18","name":"UpdateConversation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,1856],"credentials":{"googleApi":{"id":"119RrljqOvjVZbDE","name":"Google Service Account account"}}},{"parameters":{"respondWith":"json","responseBody":"={ \"status\": \"success\" }","options":{"responseCode":200}},"id":"9eb98670-6be1-4677-862e-4c1a9bcb6386","name":"RespondSuccess","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3024,1776]},{"parameters":{"respondWith":"json","responseBody":"={ \"status\": \"ignored\" }","options":{"responseCode":200}},"id":"70b2048d-218f-4a58-9d0a-f2d1d3872bb0","name":"RespondIgnored","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2800,2016]}],"connections":{"Webhook":{"main":[[{"node":"ParseData","type":"main","index":0}]]},"ParseData":{"main":[[{"node":"IsVerification","type":"main","index":0}]]},"IsVerification":{"main":[[{"node":"VerifyToken","type":"main","index":0}],[{"node":"IsMessage","type":"main","index":0}]]},"VerifyToken":{"main":[[{"node":"RespondChallenge","type":"main","index":0}]]},"IsMessage":{"main":[[{"node":"SaveMessage","type":"main","index":0}],[{"node":"RespondIgnored","type":"main","index":0}]]},"SaveMessage":{"main":[[{"node":"UpdateConversation","type":"main","index":0}]]},"UpdateConversation":{"main":[[{"node":"RespondSuccess","type":"main","index":0}]]}},"authors":"HAYDER MIDHAB","name":"Version 184dbd6a","description":"","workflowPublishHistory":[{"createdAt":"2025-12-26T12:14:30.925Z","id":73,"workflowId":"CHP3vYCCkch3yAFT","versionId":"184dbd6a-fb02-463a-8356-3bdc5d3d9c41","event":"activated","userId":"9d1fe5d7-8973-44fd-b436-25da1527f396"}]}}