src/Apps/CompanyDesktop/alsadara-ftth/n8n-workflows/n8n-auto-reminder-workflow.json
{
  "name": "Auto Reminder - Simple Cron",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 3 * * *" }]
        }
      },
      "id": "ar-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 400]
    },
    {
      "parameters": {},
      "id": "ar-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 560]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "cfg-days", "name": "days", "value": "0", "type": "number" },
            { "id": "cfg-ftth-user", "name": "ftthUsername", "value": "lysalan1980@gmail.com", "type": "string" },
            { "id": "cfg-ftth-pass", "name": "ftthPassword", "value": "MOVE_TO_CREDENTIALS", "type": "string" },
            { "id": "cfg-manager", "name": "managerPhone", "value": "9647727787789", "type": "string" },
            { "id": "cfg-phone-id", "name": "phoneNumberId", "value": "879614651900630", "type": "string" },
            { "id": "cfg-contact", "name": "contactNumbers", "value": "07705210210", "type": "string" },
            { "id": "cfg-api-key", "name": "apiKey", "value": "sadara-internal-2024-secure-key", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "ar-config",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://admin.ftth.iq/api/auth/Contractor/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/x-www-form-urlencoded" },
            { "name": "Accept", "value": "application/json" },
            { "name": "x-client-app", "value": "53d57a7f-3f89-4e9d-873b-3d071bc6dd9f" },
            { "name": "x-user-role", "value": "0" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "username", "value": "={{ $json.ftthUsername }}" },
            { "name": "password", "value": "={{ $json.ftthPassword }}" }
          ]
        },
        "options": {}
      },
      "id": "ar-login",
      "name": "FTTH Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 300000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [{ "id": "has-token", "leftValue": "={{ $json.access_token }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "ar-check-login",
      "name": "Login OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 560]
    },
    {
      "parameters": {
        "jsCode": "const config = $('Configuration').first().json;\nconst token = $json.access_token;\nconst days = Number(config.days || 0);\nconst now = new Date();\nconst baghdadOffset = 3 * 60;\nconst baghdadNow = new Date(now.getTime() + (baghdadOffset + now.getTimezoneOffset()) * 60000);\nconst target = new Date(baghdadNow);\ntarget.setDate(target.getDate() + days);\nconst fromBaghdad = new Date(target.getFullYear(), target.getMonth(), target.getDate(), 0, 0, 0);\nconst toBaghdad = new Date(target.getFullYear(), target.getMonth(), target.getDate(), 23, 59, 59);\nconst fromUTC = new Date(fromBaghdad.getTime() - baghdadOffset * 60000).toISOString();\nconst toUTC = new Date(toBaghdad.getTime() - baghdadOffset * 60000).toISOString();\n\n// Initialize pagination in static data\nconst store = $getWorkflowStaticData('global');\nstore.allSubs = [];\nstore.pageNum = 1;\n\nreturn [{ json: { access_token: token, fromExpirationDate: fromUTC, toExpirationDate: toUTC, pageNumber: 1, pageSize: 150, config: config } }];"
      },
      "id": "ar-dates",
      "name": "Calculate Dates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "url": "https://admin.ftth.iq/api/subscriptions",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "sortCriteria.property", "value": "expires" },
            { "name": "sortCriteria.direction", "value": "asc" },
            { "name": "status", "value": "Active" },
            { "name": "hierarchyLevel", "value": "0" },
            { "name": "fromExpirationDate", "value": "={{ $json.fromExpirationDate }}" },
            { "name": "toExpirationDate", "value": "={{ $json.toExpirationDate }}" },
            { "name": "pageSize", "value": "={{ $json.pageSize }}" },
            { "name": "pageNumber", "value": "={{ $json.pageNumber }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $json.access_token }}" },
            { "name": "x-client-app", "value": "53d57a7f-3f89-4e9d-873b-3d071bc6dd9f" },
            { "name": "x-user-role", "value": "0" }
          ]
        },
        "options": {}
      },
      "id": "ar-get-subs",
      "name": "Get Subscriptions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1120, 400],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const store = $getWorkflowStaticData('global');\nconst data = $input.first().json;\nconst items = data.items || [];\nconst calcData = $('Calculate Dates').first().json;\nconst token = calcData.access_token;\nconst config = calcData.config;\n\n// Collect subscribers from this page\nfor (const row of items) {\n  store.allSubs.push({\n    customer_id: row.customer?.id,\n    customer_name: row.customer?.displayValue,\n    service_name: row.services?.[0]?.displayValue || row.bundle?.displayValue,\n    zone_name: row.zone?.displayValue,\n    expires: row.expires,\n    access_token: token,\n    config: config\n  });\n}\n\nstore.pageNum = (store.pageNum || 1) + 1;\nconst hasMore = items.length >= 150;\n\nreturn [{ json: { hasMore: hasMore, collected: store.allSubs.length, page: store.pageNum - 1 } }];"
      },
      "id": "ar-collect",
      "name": "Collect Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [{ "id": "check-more", "leftValue": "={{ $json.hasMore }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "ar-has-more",
      "name": "Has More?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1540, 400]
    },
    {
      "parameters": {
        "jsCode": "const store = $getWorkflowStaticData('global');\nconst calcData = $('Calculate Dates').first().json;\n\nreturn [{ json: {\n  access_token: calcData.access_token,\n  fromExpirationDate: calcData.fromExpirationDate,\n  toExpirationDate: calcData.toExpirationDate,\n  pageNumber: store.pageNum || 2,\n  pageSize: 150,\n  config: calcData.config\n} }];"
      },
      "id": "ar-next-page",
      "name": "Next Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 560]
    },
    {
      "parameters": {
        "jsCode": "const store = $getWorkflowStaticData('global');\nconst allSubs = store.allSubs || [];\n\n// Reset pagination state\nstore.allSubs = [];\nstore.pageNum = 1;\n\nif (allSubs.length === 0) return [];\nreturn allSubs.map(s => ({ json: s }));"
      },
      "id": "ar-emit-all",
      "name": "Emit All Subscribers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 400],
      "alwaysOutputData": true
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "id": "ar-split-phones",
      "name": "Split For Phones",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [1980, 400]
    },
    {
      "parameters": {
        "url": "=https://admin.ftth.iq/api/customers/{{ $json.customer_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $json.access_token }}" },
            { "name": "x-client-app", "value": "53d57a7f-3f89-4e9d-873b-3d071bc6dd9f" },
            { "name": "x-user-role", "value": "0" }
          ]
        },
        "options": { "timeout": 5000 }
      },
      "id": "ar-get-phone",
      "name": "Get Phone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 400],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "maxTries": 2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const store = $getWorkflowStaticData('global');\nif (!store.ready) store.ready = [];\nif (!store.stats) store.stats = { total: 0, withPhone: 0, noPhone: 0, sent: 0, failed: 0 };\nconst prev = $('Split For Phones').first().json;\nconst phoneData = $input.first().json;\nconst phone = phoneData.model?.primaryContact?.mobile || '';\nstore.stats.total++;\nlet clean = phone.replace(/[^\\d]/g, '');\nif (clean.startsWith('0')) clean = '964' + clean.substring(1);\nelse if (!clean.startsWith('964')) clean = '964' + clean;\nconst valid = /^964\\d{9,12}$/.test(clean) && clean.length >= 12;\nif (valid) { store.stats.withPhone++; store.ready.push({ phone: clean, name: prev.customer_name || '', expires: prev.expires || '', config: prev.config }); }\nelse { store.stats.noPhone++; }\nreturn [{ json: { processed: store.stats.total } }];"
      },
      "id": "ar-store-phone",
      "name": "Store Phone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, 400]
    },
    {
      "parameters": {
        "jsCode": "const store = $getWorkflowStaticData('global');\nconst ready = store.ready || [];\nconst stats = store.stats || {};\nif (ready.length === 0) return [];\nconst result = ready.map(r => ({ json: r }));\nstore.ready = [];\nreturn result;"
      },
      "id": "ar-output",
      "name": "Output Ready",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 600],
      "alwaysOutputData": true
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "id": "ar-split-send",
      "name": "Split For Send",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [2420, 600]
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\nconst config = item.config || $('Configuration').first().json;\nlet endDate = '';\ntry { const d = new Date(item.expires); endDate = d.toISOString().split('T')[0]; } catch(e) { endDate = item.expires || ''; }\nreturn [{ json: { phone: item.phone, name: item.name, endDate: endDate, contactNumbers: config.contactNumbers || '07705210210' } }];"
      },
      "id": "ar-prepare-msg",
      "name": "Prepare Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Configuration').first().json.phoneNumberId || '' }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"sadara_reminder\",\n    \"language\": { \"code\": \"ar\" },\n    \"components\": [\n      {\n        \"type\": \"header\",\n        \"parameters\": [{ \"type\": \"location\", \"location\": { \"latitude\": \"33.3574242\", \"longitude\": \"44.4413559\", \"name\": \"\\u0634\\u0631\\u0643\\u0629 \\u0627\\u0644\\u0635\\u062f\\u0627\\u0631\\u0629\", \"address\": \"\\u0627\\u0644\\u0645\\u0634\\u063a\\u0644 \\u0627\\u0644\\u0631\\u0633\\u0645\\u064a\" } }]\n      },\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"text\": \"{{ $json.name }}\" },\n          { \"type\": \"text\", \"text\": \"{{ $json.endDate }}\" },\n          { \"type\": \"text\", \"text\": \"{{ $json.contactNumbers }}\" }\n        ]\n      }\n    ]\n  }\n}",
        "options": { "timeout": 15000 }
      },
      "id": "ar-send",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, 600],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "maxTries": 2,
      "credentials": { "whatsAppApi": { "id": "EzucHolIyaZJI1AD", "name": "WhatsApp account" } },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const store = $getWorkflowStaticData('global');\nif (!store.stats) store.stats = { total: 0, withPhone: 0, noPhone: 0, sent: 0, failed: 0 };\nconst r = $json;\nconst prev = $('Prepare Message').first().json;\nif (r.messages && r.messages.length > 0) { store.stats.sent++; } else { store.stats.failed++; }\nreturn [{ json: { sent: !!(r.messages && r.messages.length > 0), phone: prev.phone, name: prev.name } }];"
      },
      "id": "ar-track",
      "name": "Track Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3080, 600]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst prev = $('Prepare Message').first().json;\nconst msg = '\\u0639\\u0632\\u064a\\u0632\\u064a \\u0627\\u0644\\u0645\\u0634\\u062a\\u0631\\u0643 ' + prev.name + '\\n\\u0627\\u0634\\u062a\\u0631\\u0627\\u0643\\u0643 \\u0633\\u064a\\u0646\\u062a\\u0647\\u064a \\u0628\\u062a\\u0627\\u0631\\u064a\\u062e ' + prev.endDate;\nreturn [{ json: { phone: prev.phone, apiBody: { message: msg, type: 'template' } } }];"
      },
      "id": "ar-prepare-api",
      "name": "Prepare API Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3200, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.ramzalsadara.tech/api/whatsapp/conversations/{{ $json.phone }}/messages",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "X-Api-Key", "value": "={{ $('Configuration').first().json.apiKey }}" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.apiBody) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "ar-save-api",
      "name": "Save To API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3320, 500]
    },
    {
      "parameters": { "amount": 1.5, "unit": "seconds" },
      "id": "ar-delay",
      "name": "Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [3320, 600],
      "webhookId": "ar-delay"
    },
    {
      "parameters": {
        "jsCode": "const store = $getWorkflowStaticData('global');\nconst stats = store.stats || { total: 0, withPhone: 0, noPhone: 0, sent: 0, failed: 0 };\nconst config = $('Configuration').first().json;\nconst now = new Date();\nconst bNow = new Date(now.getTime() + 180 * 60000);\nconst time = String(bNow.getHours()).padStart(2,'0') + ':' + String(bNow.getMinutes()).padStart(2,'0');\nconst date = bNow.toISOString().split('T')[0];\nstore.stats = null;\nreturn [{ json: { total: stats.total, sent: stats.sent, failed: stats.failed, withPhone: stats.withPhone, noPhone: stats.noPhone, time: time, date: date, days: Number(config.days || 0), apiKey: config.apiKey, managerPhone: config.managerPhone, phoneNumberId: config.phoneNumberId, message: '\\ud83d\\udcca *' + '\\u062a\\u0642\\u0631\\u064a\\u0631 \\u0627\\u0644\\u062a\\u0630\\u0643\\u064a\\u0631' + '*\\n\\n' + date + ' - ' + time + '\\n\\n\\u0627\\u0644\\u0645\\u0634\\u062a\\u0631\\u0643\\u064a\\u0646: *' + stats.total + '*\\n\\u0623\\u0631\\u0633\\u0644: *' + stats.sent + '*\\n\\u0641\\u0634\\u0644: *' + stats.failed + '*' } }];"
      },
      "id": "ar-report",
      "name": "Build Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 800]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ramzalsadara.tech/api/reminders/logs",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "X-Api-Key", "value": "={{ $json.apiKey }}" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ days: $json.days, total: $json.total, sent: $json.sent, failed: $json.failed, isManual: false }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "ar-save-log",
      "name": "Save Execution Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, 800]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Build Report').first().json.phoneNumberId }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Build Report').first().json.managerPhone }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": {{ JSON.stringify($('Build Report').first().json.message) }} }\n}",
        "options": { "timeout": 15000 }
      },
      "id": "ar-notify",
      "name": "Notify Manager",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3080, 800],
      "credentials": { "whatsAppApi": { "id": "EzucHolIyaZJI1AD", "name": "WhatsApp account" } },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Configuration", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Configuration", "type": "main", "index": 0 }]] },
    "Configuration": { "main": [[{ "node": "FTTH Login", "type": "main", "index": 0 }]] },
    "FTTH Login": { "main": [[{ "node": "Login OK?", "type": "main", "index": 0 }]] },
    "Login OK?": { "main": [[{ "node": "Calculate Dates", "type": "main", "index": 0 }], []] },
    "Calculate Dates": { "main": [[{ "node": "Get Subscriptions", "type": "main", "index": 0 }]] },
    "Get Subscriptions": { "main": [[{ "node": "Collect Page", "type": "main", "index": 0 }]] },
    "Collect Page": { "main": [[{ "node": "Has More?", "type": "main", "index": 0 }]] },
    "Has More?": { "main": [[{ "node": "Next Page", "type": "main", "index": 0 }], [{ "node": "Emit All Subscribers", "type": "main", "index": 0 }]] },
    "Next Page": { "main": [[{ "node": "Get Subscriptions", "type": "main", "index": 0 }]] },
    "Emit All Subscribers": { "main": [[{ "node": "Split For Phones", "type": "main", "index": 0 }]] },
    "Split For Phones": { "main": [[{ "node": "Get Phone", "type": "main", "index": 0 }], [{ "node": "Output Ready", "type": "main", "index": 0 }]] },
    "Get Phone": { "main": [[{ "node": "Store Phone", "type": "main", "index": 0 }]] },
    "Store Phone": { "main": [[{ "node": "Split For Phones", "type": "main", "index": 0 }]] },
    "Output Ready": { "main": [[{ "node": "Split For Send", "type": "main", "index": 0 }]] },
    "Split For Send": { "main": [[{ "node": "Prepare Message", "type": "main", "index": 0 }], [{ "node": "Build Report", "type": "main", "index": 0 }]] },
    "Prepare Message": { "main": [[{ "node": "Send WhatsApp", "type": "main", "index": 0 }]] },
    "Send WhatsApp": { "main": [[{ "node": "Track Result", "type": "main", "index": 0 }]] },
    "Track Result": { "main": [[{ "node": "Prepare API Body", "type": "main", "index": 0 }]] },
    "Prepare API Body": { "main": [[{ "node": "Save To API", "type": "main", "index": 0 }]] },
    "Save To API": { "main": [[{ "node": "Delay", "type": "main", "index": 0 }]] },
    "Delay": { "main": [[{ "node": "Split For Send", "type": "main", "index": 0 }]] },
    "Build Report": { "main": [[{ "node": "Save Execution Log", "type": "main", "index": 0 }]] },
    "Save Execution Log": { "main": [[{ "node": "Notify Manager", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "06e414625359ae9234572c0c20c923c3afa2c5626d773de32d3a6c9e76ed8209" }
}
