src/Apps/CompanyDesktop/alsadara-ftth/n8n-workflows/n8n-whatsapp-receiver-FIXED.json
{
  "name": "WhatsApp Receiver - FIXED",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "=GET,POST",
        "path": "whatsapp-receiver",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "whatsapp-receiver"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.item.json;\nconst body = inputData.body || inputData;\nconst query = inputData.query || {};\n\nconst method = String(inputData.method || inputData.httpMethod || '').toUpperCase();\n\n// Webhook Verification (GET request from Meta)\nconst isVerificationRequest = \n  method === 'GET' &&\n  query['hub.mode'] === 'subscribe' &&\n  typeof query['hub.verify_token'] === 'string' &&\n  query['hub.verify_token'].length > 0;\n\nif (isVerificationRequest) {\n  return [{\n    json: {\n      isVerification: true,\n      isMessage: false,\n      challenge: query['hub.challenge'] || '',\n      verifyToken: query['hub.verify_token'] || ''\n    }\n  }];\n}\n\n// Process WhatsApp Message (POST request)\nif (body.object === 'whatsapp_business_account' && body.entry) {\n  const results = [];\n  \n  for (const entry of body.entry) {\n    if (!entry.changes) continue;\n    \n    for (const change of entry.changes) {\n      const value = change.value;\n      \n      if (value.messages && value.messages.length > 0) {\n        for (const message of value.messages) {\n          const contact = value.contacts?.find(c => c.wa_id === message.from) || {};\n          \n          let messageText = '';\n          let mediaId = '';\n          let mimeType = '';\n          let mediaFileName = '';\n          \n          switch (message.type) {\n            case 'text':\n              messageText = message.text?.body || '';\n              break;\n            case 'button':\n              messageText = message.button?.text || 'ضغط على زر';\n              break;\n            case 'interactive':\n              if (message.interactive?.type === 'button_reply') {\n                messageText = message.interactive.button_reply?.title || 'رد على زر';\n              } else if (message.interactive?.type === 'list_reply') {\n                messageText = message.interactive.list_reply?.title || 'اختيار من القائمة';\n              } else {\n                messageText = message.interactive?.body?.text || '[رسالة تفاعلية]';\n              }\n              break;\n            case 'image':\n              messageText = message.image?.caption || '[صورة]';\n              mediaId = message.image?.id || '';\n              mimeType = message.image?.mime_type || 'image/jpeg';\n              break;\n            case 'video':\n              messageText = message.video?.caption || '[فيديو]';\n              mediaId = message.video?.id || '';\n              mimeType = message.video?.mime_type || 'video/mp4';\n              break;\n            case 'audio':\n              messageText = '[رسالة صوتية]';\n              mediaId = message.audio?.id || '';\n              mimeType = message.audio?.mime_type || 'audio/ogg';\n              break;\n            case 'document':\n              messageText = message.document?.filename || '[ملف]';\n              mediaId = message.document?.id || '';\n              mimeType = message.document?.mime_type || 'application/octet-stream';\n              mediaFileName = message.document?.filename || '';\n              break;\n            case 'sticker':\n              messageText = '[ملصق]';\n              mediaId = message.sticker?.id || '';\n              mimeType = message.sticker?.mime_type || 'image/webp';\n              break;\n            case 'location':\n              messageText = '[موقع]';\n              break;\n            case 'contacts':\n              messageText = '[جهة اتصال]';\n              break;\n            case 'reaction':\n              messageText = message.reaction?.emoji || '[تفاعل]';\n              break;\n            default:\n              messageText = '[' + message.type + ']';\n          }\n          \n          const phoneNumber = message.from;\n          const msgId = message.id.replace(/\\//g, '_');\n          \n          const result = {\n            json: {\n              isVerification: false,\n              isMessage: true,\n              messageId: msgId,\n              phoneNumber: phoneNumber,\n              contactName: contact.profile?.name || phoneNumber,\n              messageType: message.type,\n              text: messageText,\n              timestamp: parseInt(message.timestamp),\n              timestampMs: Date.now(),\n              mediaId: mediaId,\n              mimeType: mimeType,\n              mediaFileName: mediaFileName\n            }\n          };\n          \n          results.push(result);\n        }\n      }\n    }\n  }\n  \n  if (results.length > 0) return results;\n}\n\nreturn [{ json: { isVerification: false, isMessage: false, error: 'No valid data' } }];"
      },
      "id": "parse-node",
      "name": "ParseData",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "isVerification",
              "leftValue": "={{ $json.isVerification }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-verification",
      "name": "IsVerification",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const expectedToken = '4bZXa4hJ6whfqWf9JsyNjQpHzaBZOxZA1A81SBGH4ce90e2e';\nconst data = $input.item.json;\n\nif (data.verifyToken === expectedToken) {\n  return [{ json: { challenge: data.challenge, verified: true } }];\n} else {\n  return [{ json: { error: 'Invalid token', verified: false } }];\n}"
      },
      "id": "verify-token",
      "name": "VerifyToken",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 180]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.challenge }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-challenge",
      "name": "RespondChallenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "isMessage",
              "leftValue": "={{ $json.isMessage }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-message",
      "name": "IsMessage",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 420]
    },
    {
      "parameters": {
        "jsCode": "// تجهيز body للحفظ في API — يمنع تشوّه العربي\nconst d = $input.first().json;\nreturn [{ json: {\n  ...d,\n  apiBody: {\n    messageId: d.messageId || '',\n    phoneNumber: d.phoneNumber || '',\n    text: d.text || '',\n    messageType: d.messageType || 'text',\n    contactName: d.contactName || '',\n    timestamp: d.timestamp || 0,\n    mediaId: d.mediaId || '',\n    mediaUrl: '',\n    mimeType: d.mimeType || '',\n    mediaFileName: d.mediaFileName || ''\n  }\n} }];"
      },
      "id": "prepare-api-body",
      "name": "PrepareAPIBody",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ramzalsadara.tech/api/whatsapp/webhook/incoming",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "sadara-whatsapp-webhook-secret-2026"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.apiBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "save-to-api",
      "name": "SaveToAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 360]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"success\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "RespondSuccess",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 440]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ignored\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-ignored",
      "name": "RespondIgnored",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 680]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "ParseData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseData": {
      "main": [
        [
          {
            "node": "IsVerification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IsVerification": {
      "main": [
        [
          {
            "node": "VerifyToken",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IsMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VerifyToken": {
      "main": [
        [
          {
            "node": "RespondChallenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IsMessage": {
      "main": [
        [
          {
            "node": "PrepareAPIBody",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RespondIgnored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareAPIBody": {
      "main": [
        [
          {
            "node": "SaveToAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaveToAPI": {
      "main": [
        [
          {
            "node": "RespondSuccess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "06e414625359ae9234572c0c20c923c3afa2c5626d773de32d3a6c9e76ed8209"
  }
}
