tmp_n8n.json
{"updatedAt":"2026-04-11T06:03:57.476Z","createdAt":"2026-03-20T22:37:58.828Z","id":"jjFlKzblDkkMAM6g","name":"Auto Reminder - Simple Cron","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"4 8 * * *"}]}},"id":"ar-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,400]},{"parameters":{},"id":"ar-manual","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[240,560]},{"parameters":{"assignments":{"assignments":[{"id":"cfg-days","name":"days","value":"0","type":"number"},{"id":"cfg-ftth-user","name":"ftthUsername","value":"lysalan1980@gmail.com","type":"string"},{"id":"cfg-ftth-pass","name":"ftthPassword","value":"918283JAhg@@k","type":"string"},{"id":"cfg-manager","name":"managerPhone","value":"9647727787789","type":"string"},{"id":"cfg-phone-id","name":"phoneNumberId","value":"879614651900630","type":"string"},{"id":"cfg-contact","name":"contactNumbers","value":"07705210210","type":"string"},{"id":"cfg-api-key","name":"apiKey","value":"sadara-internal-2024-secure-key","type":"string"}]}},"id":"ar-config","name":"Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,400]},{"parameters":{"method":"POST","url":"https://admin.ftth.iq/api/auth/Contractor/token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded"},{"name":"Accept","value":"application/json"},{"name":"x-client-app","value":"53d57a7f-3f89-4e9d-873b-3d071bc6dd9f"},{"name":"x-user-role","value":"0"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"username","value":"={{ $json.ftthUsername }}"},{"name":"password","value":"={{ $json.ftthPassword }}"}]},"options":{}},"id":"ar-login","name":"FTTH Login","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,400],"retryOnFail":true,"maxTries":3,"waitBetweenTries":300000,"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"has-token","leftValue":"={{ $json.access_token }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"ar-check-login","name":"Login OK?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[680,560]},{"parameters":{"jsCode":"const config = $('Configuration').first().json;\nconst token = $json.access_token;\nconst days = Number(config.days || 0);\nconst now = new Date();\nconst baghdadOffset = 3 * 60;\nconst baghdadNow = new Date(now.getTime() + (baghdadOffset + now.getTimezoneOffset()) * 60000);\nconst target = new Date(baghdadNow);\ntarget.setDate(target.getDate() + days);\nconst fromBaghdad = new Date(target.getFullYear(), target.getMonth(), target.getDate(), 0, 0, 0);\nconst toBaghdad = new Date(target.getFullYear(), target.getMonth(), target.getDate(), 23, 59, 59);\nconst fromUTC = new Date(fromBaghdad.getTime() - baghdadOffset * 60000).toISOString();\nconst toUTC = new Date(toBaghdad.getTime() - baghdadOffset * 60000).toISOString();\nreturn [{ json: { access_token: token, fromExpirationDate: fromUTC, toExpirationDate: toUTC, pageNumber: 1, pageSize: 150, config: config } }];"},"id":"ar-dates","name":"Calculate Dates","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,400]},{"parameters":{"url":"https://admin.ftth.iq/api/subscriptions","sendQuery":true,"queryParameters":{"parameters":[{"name":"sortCriteria.property","value":"expires"},{"name":"sortCriteria.direction","value":"asc"},{"name":"status","value":"Active"},{"name":"hierarchyLevel","value":"0"},{"name":"fromExpirationDate","value":"={{ $json.fromExpirationDate }}"},{"name":"toExpirationDate","value":"={{ $json.toExpirationDate }}"},{"name":"pageSize","value":"={{ $json.pageSize }}"},{"name":"pageNumber","value":"={{ $json.pageNumber }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"={{ 'Bearer ' + $json.access_token }}"},{"name":"x-client-app","value":"53d57a7f-3f89-4e9d-873b-3d071bc6dd9f"},{"name":"x-user-role","value":"0"}]},"options":{}},"id":"ar-get-subs","name":"Get Subscriptions","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1120,400],"alwaysOutputData":true},{"parameters":{"jsCode":"const data = $input.first().json;\nconst items = data.items || [];\nconst config = $('Calculate Dates').first().json.config;\nconst token = $('Calculate Dates').first().json.access_token;\nif (items.length === 0) return [];\nreturn items.map(row => ({ json: { customer_id: row.customer?.id, customer_name: row.customer?.displayValue, service_name: row.services?.[0]?.displayValue || row.bundle?.displayValue, zone_name: row.zone?.displayValue, expires: row.expires, access_token: token, config: config } }));"},"id":"ar-extract","name":"Extract Subscribers","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,400],"alwaysOutputData":true},{"parameters":{"batchSize":1,"options":{}},"id":"ar-split-phones","name":"Split For Phones","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1560,400]},{"parameters":{"url":"=https://admin.ftth.iq/api/customers/{{ $json.customer_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"={{ 'Bearer ' + $json.access_token }}"},{"name":"x-client-app","value":"53d57a7f-3f89-4e9d-873b-3d071bc6dd9f"},{"name":"x-user-role","value":"0"}]},"options":{"timeout":5000}},"id":"ar-get-phone","name":"Get Phone","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,400],"retryOnFail":true,"waitBetweenTries":2000,"maxTries":2,"continueOnFail":true},{"parameters":{"jsCode":"const store = $getWorkflowStaticData('global');\nif (!store.ready) store.ready = [];\nif (!store.stats) store.stats = { total: 0, withPhone: 0, noPhone: 0, sent: 0, failed: 0 };\nconst prev = $('Split For Phones').first().json;\nconst phoneData = $input.first().json;\nconst phone = phoneData.model?.primaryContact?.mobile || '';\nstore.stats.total++;\nlet clean = phone.replace(/[^\\d]/g, '');\nif (clean.startsWith('0')) clean = '964' + clean.substring(1);\nelse if (!clean.startsWith('964')) clean = '964' + clean;\nconst valid = /^964\\d{9,12}$/.test(clean) && clean.length >= 12;\nif (valid) { store.stats.withPhone++; store.ready.push({ phone: clean, name: prev.customer_name || '', expires: prev.expires || '', config: prev.config }); }\nelse { store.stats.noPhone++; }\nreturn [{ json: { processed: store.stats.total } }];"},"id":"ar-store-phone","name":"Store Phone","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,400]},{"parameters":{"jsCode":"const store = $getWorkflowStaticData('global');\nconst ready = store.ready || [];\nconst stats = store.stats || {};\nif (ready.length === 0) return [];\nconst result = ready.map(r => ({ json: r }));\nstore.ready = [];\nreturn result;"},"id":"ar-output","name":"Output Ready","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,600],"alwaysOutputData":true},{"parameters":{"batchSize":1,"options":{}},"id":"ar-split-send","name":"Split For Send","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[2000,600]},{"parameters":{"jsCode":"const item = $json;\nconst config = item.config || $('Configuration').first().json;\nlet endDate = '';\ntry { const d = new Date(item.expires); endDate = d.toISOString().split('T')[0]; } catch(e) { endDate = item.expires || ''; }\nreturn [{ json: { phone: item.phone, name: item.name, endDate: endDate, contactNumbers: config.contactNumbers || '07705210210' } }];"},"id":"ar-prepare-msg","name":"Prepare Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[2220,600]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Configuration').first().json.phoneNumberId || '' }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"sadara_reminder\",\n    \"language\": { \"code\": \"ar\" },\n    \"components\": [\n      {\n        \"type\": \"header\",\n        \"parameters\": [{ \"type\": \"location\", \"location\": { \"latitude\": \"33.3574242\", \"longitude\": \"44.4413559\", \"name\": \"\\u0634\\u0631\\u0643\\u0629 \\u0627\\u0644\\u0635\\u062f\\u0627\\u0631\\u0629\", \"address\": \"\\u0627\\u0644\\u0645\\u0634\\u063a\\u0644 \\u0627\\u0644\\u0631\\u0633\\u0645\\u064a\" } }]\n      },\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"text\": \"{{ $json.name }}\" },\n          { \"type\": \"text\", \"text\": \"{{ $json.endDate }}\" },\n          { \"type\": \"text\", \"text\": \"{{ $json.contactNumbers }}\" }\n        ]\n      }\n    ]\n  }\n}","options":{"timeout":15000}},"id":"ar-send","name":"Send WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,600],"retryOnFail":true,"waitBetweenTries":3000,"maxTries":2,"credentials":{"whatsAppApi":{"id":"EzucHolIyaZJI1AD","name":"WhatsApp account"}},"continueOnFail":true},{"parameters":{"jsCode":"const store = $getWorkflowStaticData('global');\nif (!store.stats) store.stats = { total: 0, withPhone: 0, noPhone: 0, sent: 0, failed: 0 };\nconst r = $json;\nconst prev = $('Prepare Message').first().json;\nif (r.messages && r.messages.length > 0) { store.stats.sent++; } else { store.stats.failed++; }\nreturn [{ json: { sent: !!(r.messages && r.messages.length > 0), phone: prev.phone, name: prev.name } }];"},"id":"ar-track","name":"Track Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[2660,600]},{"parameters":{"jsCode":"const d = $input.first().json;\nconst prev = $('Prepare Message').first().json;\nconst msg = '\\u0639\\u0632\\u064a\\u0632\\u064a \\u0627\\u0644\\u0645\\u0634\\u062a\\u0631\\u0643 ' + prev.name + '\\n\\u0627\\u0634\\u062a\\u0631\\u0627\\u0643\\u0643 \\u0633\\u064a\\u0646\\u062a\\u0647\\u064a \\u0628\\u062a\\u0627\\u0631\\u064a\\u062e ' + prev.endDate;\nreturn [{ json: { phone: prev.phone, apiBody: { message: msg, type: 'template' } } }];"},"id":"ar-prepare-api","name":"Prepare API Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[2780,500]},{"parameters":{"method":"POST","url":"=https://api.ramzalsadara.tech/api/whatsapp/conversations/{{ $json.phone }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"={{ $('Configuration').first().json.apiKey }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.apiBody) }}","options":{"response":{"response":{"neverError":true}}}},"id":"ar-save-api","name":"Save To API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2900,500]},{"parameters":{"amount":1.5,"unit":"seconds"},"id":"ar-delay","name":"Delay","type":"n8n-nodes-base.wait","typeVersion":1,"position":[2900,600],"webhookId":"ar-delay"},{"parameters":{"jsCode":"const store = $getWorkflowStaticData('global');\nconst stats = store.stats || { total: 0, withPhone: 0, noPhone: 0, sent: 0, failed: 0 };\nconst config = $('Configuration').first().json;\nconst now = new Date();\nconst bNow = new Date(now.getTime() + 180 * 60000);\nconst time = String(bNow.getHours()).padStart(2,'0') + ':' + String(bNow.getMinutes()).padStart(2,'0');\nconst date = bNow.toISOString().split('T')[0];\nstore.stats = null;\nreturn [{ json: { total: stats.total, sent: stats.sent, failed: stats.failed, withPhone: stats.withPhone, noPhone: stats.noPhone, time: time, date: date, days: Number(config.days || 0), apiKey: config.apiKey, managerPhone: config.managerPhone, phoneNumberId: config.phoneNumberId, message: '\\ud83d\\udcca *' + '\\u062a\\u0642\\u0631\\u064a\\u0631 \\u0627\\u0644\\u062a\\u0630\\u0643\\u064a\\u0631' + '*\\n\\n' + date + ' - ' + time + '\\n\\n\\u0627\\u0644\\u0645\\u0634\\u062a\\u0631\\u0643\\u064a\\u0646: *' + stats.total + '*\\n\\u0623\\u0631\\u0633\\u0644: *' + stats.sent + '*\\n\\u0641\\u0634\\u0644: *' + stats.failed + '*' } }];"},"id":"ar-report","name":"Build Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[2220,800]},{"parameters":{"method":"POST","url":"https://api.ramzalsadara.tech/api/reminders/logs","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"={{ $json.apiKey }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ days: $json.days, total: $json.total, sent: $json.sent, failed: $json.failed, isManual: false }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"ar-save-log","name":"Save Execution Log","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,800]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Build Report').first().json.phoneNumberId }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Build Report').first().json.managerPhone }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": {{ JSON.stringify($('Build Report').first().json.message) }} }\n}","options":{"timeout":15000}},"id":"ar-notify","name":"Notify Manager","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2660,800],"credentials":{"whatsAppApi":{"id":"EzucHolIyaZJI1AD","name":"WhatsApp account"}},"continueOnFail":true}],"connections":{"Schedule Trigger":{"main":[[{"node":"Configuration","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Configuration","type":"main","index":0}]]},"Configuration":{"main":[[{"node":"FTTH Login","type":"main","index":0}]]},"FTTH Login":{"main":[[{"node":"Login OK?","type":"main","index":0}]]},"Login OK?":{"main":[[{"node":"Calculate Dates","type":"main","index":0}],[]]},"Calculate Dates":{"main":[[{"node":"Get Subscriptions","type":"main","index":0}]]},"Get Subscriptions":{"main":[[{"node":"Extract Subscribers","type":"main","index":0}]]},"Extract Subscribers":{"main":[[{"node":"Split For Phones","type":"main","index":0}]]},"Split For Phones":{"main":[[{"node":"Get Phone","type":"main","index":0}],[{"node":"Output Ready","type":"main","index":0}]]},"Get Phone":{"main":[[{"node":"Store Phone","type":"main","index":0}]]},"Store Phone":{"main":[[{"node":"Split For Phones","type":"main","index":0}]]},"Output Ready":{"main":[[{"node":"Split For Send","type":"main","index":0}]]},"Split For Send":{"main":[[{"node":"Prepare Message","type":"main","index":0}],[{"node":"Build Report","type":"main","index":0}]]},"Prepare Message":{"main":[[{"node":"Send WhatsApp","type":"main","index":0}]]},"Send WhatsApp":{"main":[[{"node":"Track Result","type":"main","index":0}]]},"Track Result":{"main":[[{"node":"Prepare API Body","type":"main","index":0}]]},"Prepare API Body":{"main":[[{"node":"Save To API","type":"main","index":0}]]},"Save To API":{"main":[[{"node":"Delay","type":"main","index":0}]]},"Delay":{"main":[[{"node":"Split For Send","type":"main","index":0}]]},"Build Report":{"main":[[{"node":"Save Execution Log","type":"main","index":0}]]},"Save Execution Log":{"main":[[{"node":"Notify Manager","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Every Hour":{"recurrenceRules":[]},"global":{"currentPage":null,"subscribers":[],"readyToSend":[],"stats":null,"ready":[]},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"e9a55fc9-17e7-4578-b61c-c13751548315","activeVersionId":"e9a55fc9-17e7-4578-b61c-c13751548315","versionCounter":93,"triggerCount":1,"shared":[{"updatedAt":"2026-03-20T22:37:58.831Z","createdAt":"2026-03-20T22:37:58.831Z","role":"workflow:owner","workflowId":"jjFlKzblDkkMAM6g","projectId":"bFWGLTnzKJWMBwmn","project":{"updatedAt":"2025-09-04T02:04:50.738Z","createdAt":"2025-09-04T02:02:11.729Z","id":"bFWGLTnzKJWMBwmn","name":"HAYDER MIDHAB <haidarmithab@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-09-04T02:02:11.729Z","createdAt":"2025-09-04T02:02:11.729Z","userId":"9d1fe5d7-8973-44fd-b436-25da1527f396","projectId":"bFWGLTnzKJWMBwmn","user":{"updatedAt":"2026-04-11T04:38:23.000Z","createdAt":"2025-09-04T02:02:11.119Z","id":"9d1fe5d7-8973-44fd-b436-25da1527f396","email":"haidarmithab@gmail.com","firstName":"HAYDER","lastName":"MIDHAB","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-04T02:05:42.651Z","personalization_survey_n8n_version":"1.109.2","automationGoalDevops":["other"],"companySize":"1000+","companyType":"saas","role":"it","reportedSource":"other"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"JyYOoeTJgSLOiMOa","userActivatedAt":1757574051371,"npsSurvey":{"responded":true,"lastShownAt":1760239669159},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-11","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-11T04:53:00.294Z","createdAt":"2026-04-11T04:53:00.294Z","versionId":"e9a55fc9-17e7-4578-b61c-c13751548315","workflowId":"jjFlKzblDkkMAM6g","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"4 8 * * *"}]}},"id":"ar-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,400]},{"parameters":{},"id":"ar-manual","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[240,560]},{"parameters":{"assignments":{"assignments":[{"id":"cfg-days","name":"days","value":"0","type":"number"},{"id":"cfg-ftth-user","name":"ftthUsername","value":"lysalan1980@gmail.com","type":"string"},{"id":"cfg-ftth-pass","name":"ftthPassword","value":"918283JAhg@@k","type":"string"},{"id":"cfg-manager","name":"managerPhone","value":"9647727787789","type":"string"},{"id":"cfg-phone-id","name":"phoneNumberId","value":"879614651900630","type":"string"},{"id":"cfg-contact","name":"contactNumbers","value":"07705210210","type":"string"},{"id":"cfg-api-key","name":"apiKey","value":"sadara-internal-2024-secure-key","type":"string"}]}},"id":"ar-config","name":"Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,400]},{"parameters":{"method":"POST","url":"https://admin.ftth.iq/api/auth/Contractor/token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded"},{"name":"Accept","value":"application/json"},{"name":"x-client-app","value":"53d57a7f-3f89-4e9d-873b-3d071bc6dd9f"},{"name":"x-user-role","value":"0"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"username","value":"={{ $json.ftthUsername }}"},{"name":"password","value":"={{ $json.ftthPassword }}"}]},"options":{}},"id":"ar-login","name":"FTTH Login","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,400],"retryOnFail":true,"maxTries":3,"waitBetweenTries":300000,"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"has-token","leftValue":"={{ $json.access_token }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"ar-check-login","name":"Login OK?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[680,560]},{"parameters":{"jsCode":"const config = $('Configuration').first().json;\nconst token = $json.access_token;\nconst days = Number(config.days || 0);\nconst now = new Date();\nconst baghdadOffset = 3 * 60;\nconst baghdadNow = new Date(now.getTime() + (baghdadOffset + now.getTimezoneOffset()) * 60000);\nconst target = new Date(baghdadNow);\ntarget.setDate(target.getDate() + days);\nconst fromBaghdad = new Date(target.getFullYear(), target.getMonth(), target.getDate(), 0, 0, 0);\nconst toBaghdad = new Date(target.getFullYear(), target.getMonth(), target.getDate(), 23, 59, 59);\nconst fromUTC = new Date(fromBaghdad.getTime() - baghdadOffset * 60000).toISOString();\nconst toUTC = new Date(toBaghdad.getTime() - baghdadOffset * 60000).toISOString();\nreturn [{ json: { access_token: token, fromExpirationDate: fromUTC, toExpirationDate: toUTC, pageNumber: 1, pageSize: 150, config: config } }];"},"id":"ar-dates","name":"Calculate Dates","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,400]},{"parameters":{"url":"https://admin.ftth.iq/api/subscriptions","sendQuery":true,"queryParameters":{"parameters":[{"name":"sortCriteria.property","value":"expires"},{"name":"sortCriteria.direction","value":"asc"},{"name":"status","value":"Active"},{"name":"hierarchyLevel","value":"0"},{"name":"fromExpirationDate","value":"={{ $json.fromExpirationDate }}"},{"name":"toExpirationDate","value":"={{ $json.toExpirationDate }}"},{"name":"pageSize","value":"={{ $json.pageSize }}"},{"name":"pageNumber","value":"={{ $json.pageNumber }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"={{ 'Bearer ' + $json.access_token }}"},{"name":"x-client-app","value":"53d57a7f-3f89-4e9d-873b-3d071bc6dd9f"},{"name":"x-user-role","value":"0"}]},"options":{}},"id":"ar-get-subs","name":"Get Subscriptions","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1120,400],"alwaysOutputData":true},{"parameters":{"jsCode":"const data = $input.first().json;\nconst items = data.items || [];\nconst config = $('Calculate Dates').first().json.config;\nconst token = $('Calculate Dates').first().json.access_token;\nif (items.length === 0) return [];\nreturn items.map(row => ({ json: { customer_id: row.customer?.id, customer_name: row.customer?.displayValue, service_name: row.services?.[0]?.displayValue || row.bundle?.displayValue, zone_name: row.zone?.displayValue, expires: row.expires, access_token: token, config: config } }));"},"id":"ar-extract","name":"Extract Subscribers","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,400],"alwaysOutputData":true},{"parameters":{"batchSize":1,"options":{}},"id":"ar-split-phones","name":"Split For Phones","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1560,400]},{"parameters":{"url":"=https://admin.ftth.iq/api/customers/{{ $json.customer_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"={{ 'Bearer ' + $json.access_token }}"},{"name":"x-client-app","value":"53d57a7f-3f89-4e9d-873b-3d071bc6dd9f"},{"name":"x-user-role","value":"0"}]},"options":{"timeout":5000}},"id":"ar-get-phone","name":"Get Phone","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,400],"retryOnFail":true,"waitBetweenTries":2000,"maxTries":2,"continueOnFail":true},{"parameters":{"jsCode":"const store = $getWorkflowStaticData('global');\nif (!store.ready) store.ready = [];\nif (!store.stats) store.stats = { total: 0, withPhone: 0, noPhone: 0, sent: 0, failed: 0 };\nconst prev = $('Split For Phones').first().json;\nconst phoneData = $input.first().json;\nconst phone = phoneData.model?.primaryContact?.mobile || '';\nstore.stats.total++;\nlet clean = phone.replace(/[^\\d]/g, '');\nif (clean.startsWith('0')) clean = '964' + clean.substring(1);\nelse if (!clean.startsWith('964')) clean = '964' + clean;\nconst valid = /^964\\d{9,12}$/.test(clean) && clean.length >= 12;\nif (valid) { store.stats.withPhone++; store.ready.push({ phone: clean, name: prev.customer_name || '', expires: prev.expires || '', config: prev.config }); }\nelse { store.stats.noPhone++; }\nreturn [{ json: { processed: store.stats.total } }];"},"id":"ar-store-phone","name":"Store Phone","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,400]},{"parameters":{"jsCode":"const store = $getWorkflowStaticData('global');\nconst ready = store.ready || [];\nconst stats = store.stats || {};\nif (ready.length === 0) return [];\nconst result = ready.map(r => ({ json: r }));\nstore.ready = [];\nreturn result;"},"id":"ar-output","name":"Output Ready","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,600],"alwaysOutputData":true},{"parameters":{"batchSize":1,"options":{}},"id":"ar-split-send","name":"Split For Send","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[2000,600]},{"parameters":{"jsCode":"const item = $json;\nconst config = item.config || $('Configuration').first().json;\nlet endDate = '';\ntry { const d = new Date(item.expires); endDate = d.toISOString().split('T')[0]; } catch(e) { endDate = item.expires || ''; }\nreturn [{ json: { phone: item.phone, name: item.name, endDate: endDate, contactNumbers: config.contactNumbers || '07705210210' } }];"},"id":"ar-prepare-msg","name":"Prepare Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[2220,600]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Configuration').first().json.phoneNumberId || '' }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"sadara_reminder\",\n    \"language\": { \"code\": \"ar\" },\n    \"components\": [\n      {\n        \"type\": \"header\",\n        \"parameters\": [{ \"type\": \"location\", \"location\": { \"latitude\": \"33.3574242\", \"longitude\": \"44.4413559\", \"name\": \"\\u0634\\u0631\\u0643\\u0629 \\u0627\\u0644\\u0635\\u062f\\u0627\\u0631\\u0629\", \"address\": \"\\u0627\\u0644\\u0645\\u0634\\u063a\\u0644 \\u0627\\u0644\\u0631\\u0633\\u0645\\u064a\" } }]\n      },\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"text\": \"{{ $json.name }}\" },\n          { \"type\": \"text\", \"text\": \"{{ $json.endDate }}\" },\n          { \"type\": \"text\", \"text\": \"{{ $json.contactNumbers }}\" }\n        ]\n      }\n    ]\n  }\n}","options":{"timeout":15000}},"id":"ar-send","name":"Send WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,600],"retryOnFail":true,"waitBetweenTries":3000,"maxTries":2,"credentials":{"whatsAppApi":{"id":"EzucHolIyaZJI1AD","name":"WhatsApp account"}},"continueOnFail":true},{"parameters":{"jsCode":"const store = $getWorkflowStaticData('global');\nif (!store.stats) store.stats = { total: 0, withPhone: 0, noPhone: 0, sent: 0, failed: 0 };\nconst r = $json;\nconst prev = $('Prepare Message').first().json;\nif (r.messages && r.messages.length > 0) { store.stats.sent++; } else { store.stats.failed++; }\nreturn [{ json: { sent: !!(r.messages && r.messages.length > 0), phone: prev.phone, name: prev.name } }];"},"id":"ar-track","name":"Track Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[2660,600]},{"parameters":{"jsCode":"const d = $input.first().json;\nconst prev = $('Prepare Message').first().json;\nconst msg = '\\u0639\\u0632\\u064a\\u0632\\u064a \\u0627\\u0644\\u0645\\u0634\\u062a\\u0631\\u0643 ' + prev.name + '\\n\\u0627\\u0634\\u062a\\u0631\\u0627\\u0643\\u0643 \\u0633\\u064a\\u0646\\u062a\\u0647\\u064a \\u0628\\u062a\\u0627\\u0631\\u064a\\u062e ' + prev.endDate;\nreturn [{ json: { phone: prev.phone, apiBody: { message: msg, type: 'template' } } }];"},"id":"ar-prepare-api","name":"Prepare API Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[2780,500]},{"parameters":{"method":"POST","url":"=https://api.ramzalsadara.tech/api/whatsapp/conversations/{{ $json.phone }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"={{ $('Configuration').first().json.apiKey }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.apiBody) }}","options":{"response":{"response":{"neverError":true}}}},"id":"ar-save-api","name":"Save To API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2900,500]},{"parameters":{"amount":1.5,"unit":"seconds"},"id":"ar-delay","name":"Delay","type":"n8n-nodes-base.wait","typeVersion":1,"position":[2900,600],"webhookId":"ar-delay"},{"parameters":{"jsCode":"const store = $getWorkflowStaticData('global');\nconst stats = store.stats || { total: 0, withPhone: 0, noPhone: 0, sent: 0, failed: 0 };\nconst config = $('Configuration').first().json;\nconst now = new Date();\nconst bNow = new Date(now.getTime() + 180 * 60000);\nconst time = String(bNow.getHours()).padStart(2,'0') + ':' + String(bNow.getMinutes()).padStart(2,'0');\nconst date = bNow.toISOString().split('T')[0];\nstore.stats = null;\nreturn [{ json: { total: stats.total, sent: stats.sent, failed: stats.failed, withPhone: stats.withPhone, noPhone: stats.noPhone, time: time, date: date, days: Number(config.days || 0), apiKey: config.apiKey, managerPhone: config.managerPhone, phoneNumberId: config.phoneNumberId, message: '\\ud83d\\udcca *' + '\\u062a\\u0642\\u0631\\u064a\\u0631 \\u0627\\u0644\\u062a\\u0630\\u0643\\u064a\\u0631' + '*\\n\\n' + date + ' - ' + time + '\\n\\n\\u0627\\u0644\\u0645\\u0634\\u062a\\u0631\\u0643\\u064a\\u0646: *' + stats.total + '*\\n\\u0623\\u0631\\u0633\\u0644: *' + stats.sent + '*\\n\\u0641\\u0634\\u0644: *' + stats.failed + '*' } }];"},"id":"ar-report","name":"Build Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[2220,800]},{"parameters":{"method":"POST","url":"https://api.ramzalsadara.tech/api/reminders/logs","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"={{ $json.apiKey }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ days: $json.days, total: $json.total, sent: $json.sent, failed: $json.failed, isManual: false }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"ar-save-log","name":"Save Execution Log","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,800]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('Build Report').first().json.phoneNumberId }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Build Report').first().json.managerPhone }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": {{ JSON.stringify($('Build Report').first().json.message) }} }\n}","options":{"timeout":15000}},"id":"ar-notify","name":"Notify Manager","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2660,800],"credentials":{"whatsAppApi":{"id":"EzucHolIyaZJI1AD","name":"WhatsApp account"}},"continueOnFail":true}],"connections":{"Schedule Trigger":{"main":[[{"node":"Configuration","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Configuration","type":"main","index":0}]]},"Configuration":{"main":[[{"node":"FTTH Login","type":"main","index":0}]]},"FTTH Login":{"main":[[{"node":"Login OK?","type":"main","index":0}]]},"Login OK?":{"main":[[{"node":"Calculate Dates","type":"main","index":0}],[]]},"Calculate Dates":{"main":[[{"node":"Get Subscriptions","type":"main","index":0}]]},"Get Subscriptions":{"main":[[{"node":"Extract Subscribers","type":"main","index":0}]]},"Extract Subscribers":{"main":[[{"node":"Split For Phones","type":"main","index":0}]]},"Split For Phones":{"main":[[{"node":"Get Phone","type":"main","index":0}],[{"node":"Output Ready","type":"main","index":0}]]},"Get Phone":{"main":[[{"node":"Store Phone","type":"main","index":0}]]},"Store Phone":{"main":[[{"node":"Split For Phones","type":"main","index":0}]]},"Output Ready":{"main":[[{"node":"Split For Send","type":"main","index":0}]]},"Split For Send":{"main":[[{"node":"Prepare Message","type":"main","index":0}],[{"node":"Build Report","type":"main","index":0}]]},"Prepare Message":{"main":[[{"node":"Send WhatsApp","type":"main","index":0}]]},"Send WhatsApp":{"main":[[{"node":"Track Result","type":"main","index":0}]]},"Track Result":{"main":[[{"node":"Prepare API Body","type":"main","index":0}]]},"Prepare API Body":{"main":[[{"node":"Save To API","type":"main","index":0}]]},"Save To API":{"main":[[{"node":"Delay","type":"main","index":0}]]},"Delay":{"main":[[{"node":"Split For Send","type":"main","index":0}]]},"Build Report":{"main":[[{"node":"Save Execution Log","type":"main","index":0}]]},"Save Execution Log":{"main":[[{"node":"Notify Manager","type":"main","index":0}]]}},"authors":"HAYDER MIDHAB","name":null,"description":null,"workflowPublishHistory":[{"createdAt":"2026-04-11T04:53:00.434Z","id":131,"workflowId":"jjFlKzblDkkMAM6g","versionId":"e9a55fc9-17e7-4578-b61c-c13751548315","event":"activated","userId":"9d1fe5d7-8973-44fd-b436-25da1527f396"},{"createdAt":"2026-04-11T04:53:00.515Z","id":132,"workflowId":"jjFlKzblDkkMAM6g","versionId":"e9a55fc9-17e7-4578-b61c-c13751548315","event":"activated","userId":"9d1fe5d7-8973-44fd-b436-25da1527f396"},{"createdAt":"2026-04-11T06:03:13.837Z","id":133,"workflowId":"jjFlKzblDkkMAM6g","versionId":"e9a55fc9-17e7-4578-b61c-c13751548315","event":"activated","userId":"9d1fe5d7-8973-44fd-b436-25da1527f396"},{"createdAt":"2026-04-11T06:03:13.884Z","id":134,"workflowId":"jjFlKzblDkkMAM6g","versionId":"e9a55fc9-17e7-4578-b61c-c13751548315","event":"activated","userId":"9d1fe5d7-8973-44fd-b436-25da1527f396"},{"createdAt":"2026-04-11T06:03:57.514Z","id":135,"workflowId":"jjFlKzblDkkMAM6g","versionId":"e9a55fc9-17e7-4578-b61c-c13751548315","event":"activated","userId":"9d1fe5d7-8973-44fd-b436-25da1527f396"},{"createdAt":"2026-04-11T06:03:57.573Z","id":136,"workflowId":"jjFlKzblDkkMAM6g","versionId":"e9a55fc9-17e7-4578-b61c-c13751548315","event":"activated","userId":"9d1fe5d7-8973-44fd-b436-25da1527f396"}]}}